

:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
    :root { font-family: 'Inter var', sans-serif;}
}

.container {
   align-items: center;
   margin: auto;
   position: relative;
   justify-content: center;
   display: flex;
   border: 1px solid #F2EFE9;
   width: 80%;
   height: 720px;
}


.menu {
    position: relative;
    justify-content: center;
    align-items: center;
    margin: auto;
    align-items: center;
    display: flex;
}

.text-center {
    margin: auto;
    justify-content: center;
    display: flex;
    position: relative;

}

.copyright-footer {
    margin: 10px;

}

p, h1, h2, h3, h4 {
font-family: Inter, sans-serif;
font-style: normal;
font-weight: 100;
color: #F2EFE9;
}

a {
    color: #F2EFE9;
}

body {
    background-color: #3066BE;
}

.overlay h4 {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.header-wrapper:after {
    content: "";
    display: table;
    clear: both;
}

.site-logo {
    align-items: relative;
    margin-top: 1px;
    margin-left: auto;
    margin-right: auto;
    display: flex; 
    align-items: center; 
    justify-content: center
}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block;
}


ol,ul {
    list-style: none;
}

blockquote,q {
    quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
    content: '';
    content: none;
}

html {
    box-sizing: border-box;
}

*,*:before,*:after {
    box-sizing: inherit;
}

.site-header {
    margin-bottom: 80px;
}

.header-wrapper {
    border-bottom: 2px solid #3066BE;
    padding: 10px 0;
    position: relative;
}


.copyright {
    margin-top: 30px;
    margin-bottom: 20px;
}

.copyright p {

    margin-bottom: 10px;
    font-size: 12px;
}

html {
    font-size: 93.75%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

body {
    line-height: 1;
    background: #3066BE;
    font-size: 15px;
    font-weight: 300;
    color: #F2EFE9;
    padding: 20px;
    font-family: "Inter",sans-serif;
    line-height: 1.55;
    text-rendering: optimizeLegibility;
    -webkit-backface-visibility: hidden;
    overflow-x: hidden;
}

p {
    margin-bottom: 30px;
}

h1,h2,h3,h4,h5,h6 {
    text-transform: uppercase;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 15px;
}

a {
    color: #F2EFE9;
}


span[class*="border-"] {
    position: fixed;
    background: #F2EFE9;
}

.border-top {
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
}

.border-left {
    top: 0;
    left: 0;
    width: 10px;
    height: 100%;
}

.border-bottom {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
}

.border-right {
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
}

.shape-1 {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background: url("../img/shape-1.png") no-repeat;
}

.shape-2 {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    background: url("../img/shape-2.png") no-repeat;
}

.main-button,.main-footer .social li a {
    color: #F2EFE9;
    text-transform: uppercase;
    font-size: 12px;
    padding: 10px 15px;
    display: inline-block;
    border: 2px solid #3066BE;
}
